{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            ">0.25%",
            "not ie 11",
            "not op_mini all"
          ]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",


    // [
    //   "babel-plugin-transform-imports",
    //   {
    //     "@material-ui/core": {
    //       "transform": "@material-ui/core/esm/${member}",
    //       "preventFullImport": true
    //     }
    //   }
    // ]
  ]
}